*{
    box-sizing: border-box;
}

.contact{
    text-align: center;
    max-width: 2000px;
    min-width: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    min-height: 80vh;
    z-index: 2;
    position: relative;
    top: 250px;
    left: 0;
}

.contact-wrapper{
    z-index: 2;
}

.contact h2{
    font-family: var(--font-family);
    font-size: var(--font-size-large);
    text-transform: uppercase;
    padding: var(--spacing-medium);
    color: var(--font-color-primary);
    vertical-align: center;
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
    z-index: 2;
}

.contact p{
    font-family: var(--font-family);
    font-size: var(--font-size-large);
    text-transform: uppercase;
    padding: var(--spacing-medium);
    color: var(--font-color-primary);
    vertical-align: center;
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
    vertical-align: middle;
}

.contact li{
    list-style: none;
}

.contact-form .form-details{
    font-family: var(--font-family);
    font-size: var(--font-size-medium);
    text-transform: uppercase;
    padding: var(--spacing-medium);
    color: var(--font-color-primary);
    vertical-align: center;
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
    vertical-align: middle;
    width: 100%;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0.4rem;
    flex-wrap: wrap;
}

.contact-form .form-details{
    margin-bottom: 0px;
    font-size: var(--font-size-medium);
}

.contact-form .input{
    width: 100%;
    height: 30px;
    border: 4px;
    outline: 0px;
    font-size: var(--font-size-medium);
    text-align: center;
    padding: 1.1rem 1.6rem;
    border-radius: 35px;
    margin-top: 2px;
}

.contact-form .half{
    display: flex;
    justify-content: space-between;
  }

.contact-form .half .item{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
    margin: 3px;
  }

.contact-form .textarea{
    display: flex;
    flex-direction: column;
    border: 4px;
    font-size: var(--font-size-medium);
    text-align: center;
    padding: 1.1rem 1.6rem;
    border-radius: 35px;
    margin-top: 2px;
}

.textarea{
    resize: none;
    height: 330px;
    width: 650px;
}

.button{
    font-family: var(--font-family);
    font-size: var(--font-size-medium);
    font-weight: bold;
    color: var(--font-color-primary);
    background-color: var(--font-color-secondary);
    text-transform: uppercase;
    border-radius: 35px;
    margin-top: 20px;
    width: 20%;
    padding: 10px;
}


.button:hover{
    border: 3px solid white;
}


@media (max-width: 400px) {
    main .contact{
        flex-direction: column;
    }

    main .contact .contact-wrapper{
        flex-direction: column;
    }
  }